@media (min-width: 900px) {
    
    /* h1 {
       
        font-size: 2.5rem;
    }
    h2 {
        font-size: 1.5rem;
    } */

    /* header {
        max-width:1200px;
        
    } */
    
    .erd img{
        width:100%;
    }

    /* header img {
        width: 200px;
    
    } */

  }